$black: #000000;
$white: #ffffff;

$grey-1: #111111;
$grey-2: #222222;
$grey-3: #444444;
$grey-4: #666666;
$grey-5: #cdcdcd;
$grey-6: #dcdcdc;
$grey-7: #eaeaea;
$grey-8: #ebebeb;
$grey-9: #f2f2f2;

$border-grey-1: #d9d9d9;
$border-grey-2: #e6e6e6;
$border-grey-3: #e7e7e7;

$green-1: #68b738;
$green-2: #63a63a;
$green-3: #5eaa2f;
