@mixin typography_template($font-size, $line-height, $font-weight: 400) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: $line-height;
}

@mixin arial-font {
  font-family: "Arial", sans-serif;
}

@mixin oswald-font {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin a-r-s12-h12 {
  @include typography_template(12px, 12px);
  @include arial-font;
}

@mixin a-r-s12-h16 {
  @include typography_template(12px, 16px);
  @include arial-font;
}

@mixin a-r-s14-h14 {
  @include typography_template(14px, 14px);
  @include arial-font;
}

@mixin a-r-s14-h16 {
  @include typography_template(14px, 16px);
  @include arial-font;
}

@mixin a-r-s14-h20 {
  @include typography_template(14px, 20px);
  @include arial-font;
}

@mixin a-r-s16-h16 {
  @include typography_template(16px, 16px);
  @include arial-font;
}

@mixin a-r-s16-h18 {
  @include typography_template(16px, 18px);
  @include arial-font;
}

@mixin a-r-s16-h20 {
  @include typography_template(16px, 20px);
  @include arial-font;
}

@mixin a-r-s16-h24 {
  @include typography_template(16px, 24px);
  @include arial-font;
}

@mixin o-r-s12-h12 {
  @include typography_template(12px, 12px);
  @include oswald-font;
}

@mixin o-r-s14-h18 {
  @include typography_template(14px, 18px);
  @include oswald-font;
}

@mixin o-r-s16-h16 {
  @include typography_template(16px, 16px);
  @include oswald-font;
}

@mixin o-r-s16-h18 {
  @include typography_template(16px, 18px);
  @include oswald-font;
}

@mixin o-r-s16-h20 {
  @include typography_template(16px, 20px);
  @include oswald-font;
}

@mixin o-r-s18-h24 {
  @include typography_template(18px, 24px);
  @include oswald-font;
}

@mixin o-r-s20-h20 {
  @include typography_template(20px, 20px);
  @include oswald-font;
}

@mixin o-r-s20-h22 {
  @include typography_template(20px, 22px);
  @include oswald-font;
}

@mixin o-r-s20-h24 {
  @include typography_template(20px, 24px);
  @include oswald-font;
}

@mixin o-r-s20-h26 {
  @include typography_template(20px, 26px);
  @include oswald-font;
}

@mixin o-r-s20-h30 {
  @include typography_template(20px, 30px);
  @include oswald-font;
}

@mixin o-r-s24-h24 {
  @include typography_template(24px, 24px);
  @include oswald-font;
}

@mixin o-r-s24-h26 {
  @include typography_template(24px, 26px);
  @include oswald-font;
}

@mixin o-r-s24-h37 {
  @include typography_template(24px, 37px);
  @include oswald-font;
}

@mixin o-r-s30-h37 {
  @include typography_template(30px, 37px);
  @include oswald-font;
}

@mixin o-r-s36-h36 {
  @include typography_template(36px, 36px);
  @include oswald-font;
}

@mixin o-r-s36-h40 {
  @include typography_template(36px, 40px);
  @include oswald-font;
}

@mixin o-r-s60-h60 {
  @include typography_template(60px, 60px);
  @include oswald-font;
}

@mixin o-r-s280-h280 {
  @include typography_template(280px, 280px);
  @include oswald-font;
}

@mixin o-m-s20-h20 {
  @include typography_template(20px, 20px, 500);
  @include oswald-font;
}
