.button {
  @include o-r-s16-h20;
  background-color: $green-1;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border: none;
  padding: 10px 0;
  margin: 0;

  &--main {
    @include o-r-s14-h18;
    padding: 11px 0;

    @include s768 {
      @include o-r-s20-h20;
      width: 244px;
      padding: 14px 0;
      margin-top: 50px;
    }
  }

  &--silver {
    background-color: $grey-1;
    color: $grey-4;
  }
}
