.wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @include s768 {
    width: 708px;
    padding: 0 30px;
  }

  @include s1300 {
    width: 1220px;
    padding: 0 40px;
  }

  &--map {
    height: 362px;
    width: auto;
    margin: auto;
    padding: 0;

    @include s768 {
      height: 400px;
    }
  }

  &--coop-data {
    width: auto;
    margin: auto;
    padding: 0;

    @include s1300 {
      width: 1220px;
      margin: 0 auto;
      padding: 0 40px;
    }
  }

  &--main-form {
    @include s768-1299 {
      width: 633px;
      padding-left: 70px;
      padding-right: 65px;
    }
  }
}
