.contacts {
  position: relative;
}

.contacts__data {
  &--white {
    background-color: $white;
  }

  @include s1300 {
    position: absolute;
    width: 565px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: $white;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;

  @include s768 {
    padding: 43px 70px 39px;
    width: 628px;
  }

  @include s1300 {
    padding: 43px 80px 39px;
    width: 405px;
  }
}

.contacts__title {
  @include o-r-s16-h20;
  text-transform: uppercase;
  color: $grey-1;

  @include s768 {
    @include o-r-s20-h26;
    width: 160px;
  }
}

.contacts__address {
  @include a-r-s14-h20;
  color: $grey-1;

  @include s768 {
    @include a-r-s16-h20;
    width: 160px;
    text-align: right;
  }

  @include s1300 {
    text-align: left;
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
