
.contacts {
  background-color: #ffffff;
  line-height: 20px;
}

.contacts__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #444444;
}

.contacts__map {
  width: 100%;
}
