.developer__link {
  display: flex;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.developer__title {
  @include a-r-s16-h18;
  color: $grey-3;
}


.developer__link:hover .developer__icon,
.developer__link:active .developer__icon,
.developer__link:focus .developer__icon {
  fill: $green-1;
}

.developer__icon {
  @include s-767 {
    margin: auto;
    margin-right: 0;
  }

  width: auto;
  height: 41px;
  fill: $grey-4;
}
