.expenses {
  display: flex;
  line-height: 20px;
  justify-content: center;
  text-transform: uppercase;
  color: $black;

  @include s768 {
    @include o-r-s20-h20;
  }

  @include s768-1299 {
    width: 175px;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0;
    margin-left: auto;
  }

  @include s1300 {
    width: 328px;
    justify-content: space-between;
  }
}

.expenses__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;

  @include s-767 {
    font-size: 14px;
  }

  @include s768 {
    margin-bottom: 9px;
  }
}

.expenses__prise {
  margin: 0;
  margin-left: 4px;
}
