.expenses {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @include s768 {
    @include o-r-s20-h20;
  }
}

.expenses__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;

  @include s-767 {
    font-size: 14px;
  }
}

.expenses__prise {
  margin: 0;
}
