
.gift {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/cat-gift.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift__desc {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
