
.living-proof {
  background-color: #eaeaea;
}

.living-proof__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.living-proof__desc {
  font-family: "Arial", sans-serif;
}
