.main-promo {
  color: $white;
  text-align: center;
  background-image: url("../img/index-background.jpg"), linear-gradient(to bottom, $green-2 303px, $white 303px);
  background-repeat: no-repeat;
  background-position: center top;

  @include s768 {
    color: $black;
    text-align: left;
    background: none;
  }

  @include s1300 {
    padding: 60px 0;
  }
}

.main-promo__watchwords {
  @include s768 {
    min-height: 810px;
    padding: 0 87px;
    box-sizing: border-box;
  }

  @include s1300 {
    min-height: 350px;
    padding: 0 80px;
  }
}
