.modified-header {
  @include s1300 {
    min-height: 694px;
    background-image: url("../img/changed-background.jpg"), linear-gradient(to right, $white 50%, $green-2 50%);
    background-repeat: no-repeat;
    background-position: center right;
  }
}
