.page-footer {
  background-color: $grey-1;
}

.page-footer__wrapper {
  min-height: 147px;
  text-align: center;

  @include s768 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
