.page-footer {
  background-color: $grey-9;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 147px;
  text-align: center;

  @include s768 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  @include s-767 {
    margin-top: 29px;
    margin-bottom: 22px;
  }
}

.page-footer__logo-link {
  display: block;
}

.page-footer__logo-lable {
  padding-top: 10px;
  padding-bottom: 5px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__developer {
  @include s-767 {
    margin: 22px 0;
  }
}
