.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;
  padding-top: 10px;

  @include s768 {
    padding-top: 24px;
  }

  @include s1300 {
    padding-top: 53px;
  }
}

.page-header__main-nav {
  @include s768 {
    margin-left: auto;
  }
}

.page-header__button {
  @include s768 {
    display: none;
  }
}
