.product-card {
  padding: 8px 0 24px;

  @include s768 {
    padding: 0 37px 39px 39px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to top, $grey-10 430px, $white 430px);
  }

  @include s1300 {
    padding-top: 6px;
    padding-bottom: 40px;
  }
}

.product-card__wrapper {
  @include s-767 {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.product-card__image {
  @include s-767 {
    display: block;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  @include s768 {
    margin: 0 auto;
    height: auto;
    width: auto;
  }
}

.product-card__content {
  @include s-767 {
    width: 50%;
  }
}

.product-card__title {
  @include o-r-s16-h20;
  text-transform: uppercase;
  color: $grey-2;
  max-width: 76px;
  margin-bottom: 14px;
  margin-top: 13px;

  @include s768 {
    @include o-r-s20-h24;
    margin: 26px auto 13px;
    min-width: 150px;
  }

  @include s1300 {
    margin: 32px 0 14px 12px;
  }
}

.product-card__list {
  margin-bottom: 22px;

  @include s768 {
    margin-bottom: 33px;
  }
}

.product-card__item {
  @include a-r-s12-h16;
  color: $grey-1;
  display: flex;

  @include s768 {
    @include a-r-s16-h16;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid $grey-5;
  }
}

.product-card__property-value {
  font-weight: 400;
  margin-left: auto;
}
