
.product-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product-more__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
