.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include s768 {
    height: 100%;
    flex-direction: row;
  }

  &::before {
    @include s-767 {
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $border-grey-2;
      left: 0;
      content: "";
    }
  }
}

.site-list__item {
  @include s768 {
    transform: translateX(9px);
    margin: 10px 0 14px 16px;
  }

  @include s1300 {
    margin-bottom: 21px;
    margin-left: 14px;
  }

  &::after {
    @include s-767 {
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $border-grey-2;
      left: 0;
      content: "";
    }
  }
}

.site-list__link {
  @include o-m-s20-h20;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  @include s-767 {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 1.15em 0;
    text-align: center;
  }

  @include s768 {
    @include o-r-s18-h24;
    padding: 10px;

    &--current::before {
      display: block;
      position: absolute;
      right: 11px;
      left: 11px;
      bottom: 2px;
      height: 2px;
      background-color: $green-1;
      content: "";
    }
  }

  @include s1300 {
    @include o-r-s20-h30;

    &--white {
      color: $white;
    }

    &--white::before {
      background-color: $white;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current:hover,
  &--current:active,
  &--current:focus {
    opacity: 1;
  }
}
