.site-list__item {
  @include s768 {
    margin-left: 10px;
  }
}

.site-list__link {
  @include o-m-s20-h20;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  @include s768 {
    @include o-r-s18-h24;
    padding: 10px;
  }

  @include s1300 {
    @include o-r-s20-h30;

    &--white {
      color: $white;
    }
  }
}
