.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;

  @include s768 {
    padding-left: 5px;
  }

  @include s1300 {
    padding-left: 25px;
  }
}

.slider__button {
  @include o-r-s16-h20;
  position: relative;
  text-transform: uppercase;
  color: $black;
  background: none;
  border: none;

  @include s768 {
    @include o-r-s20-h30;

    &::before {
      display: block;
      position: absolute;
      right: 7px;
      bottom: 0;
      left: 7px;
      height: 0;
      border-bottom: 1px dotted transparentize($black, 0.76);
      content: "";
    }
  }

  &:hover {
    &::before {
      border-bottom: 1px solid transparentize($black, 0.6);
    }
  }

  &:active {
    &::before {
      display: none;
    }
  }
}

.slider__control {
  margin: 0 12px;

  @include s768 {
    width: 426px;
    height: 6px;
    margin: 0 17px;
    background: $grey-7;
    border-radius: 6px;
  }
}

.slider__toggle {
  position: relative;
  outline: none;

  &::before {
    display: block;
    width: 85px;
    height: 14px;
    background: $white;
    border: 1px solid $grey-5;
    box-sizing: border-box;
    border-radius: 6px;
    content: "";
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(0, -50%);
    width: 35px;
    height: 6px;
    background: $green-1;
    border-radius: 6px;
    content: "";
  }

  @include s768 {
    width: fit-content;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: ew-resize;
    border-radius: 50%;

    &::before {
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    &::after {
      width: 8px;
      height: 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }

  &:active,
  &:focus {
    &::before {
      border-color: $green-1;
    }
  }
}
