
.stats__group {
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 3px;
}

.stats__desc {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
}

.stats__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
